

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 1;
}


.ball{
	@include pos-scale(-15, 2, .5);
}

.batter_all {
	@include pos-scaleXY(-30, -112, -0.62, 0.62);
	width:300px;
	height:250px;
	.batter{
		// opacity: 0;
	}
}

.illust{
	transform-origin: 175px 90px;
}

#legalBtn{	
	top: 50px;
	left: 7px;
	position: absolute;
	// opacity: 1;
}


#banner{
	font-size: 20px;
	color: #333;
	width: 728px;
	height: 90px;
}


// #legalBtn{	
// 	// @include pos(7, 198);
// }