<!DOCTYPE html>
<html>
<% include ../_common/templates/_head %>
<style>
	.illust{
		transform-origin: 50% 100%;
	}

	#legalBtn{	
		top: 198px;
		left: 7px;
		position: absolute;
	}
	

</style>
<body>
<% include ../_common/templates/_banner-top %>
<% include content %>
<% include ../_common/templates/_banner-bottom %>
</body>
<% include ../_common/templates/_footer %>
<script src="_bundled/main.js" inline></script>
</html>
