<div id="banner">
	<div class="outline"></div>
	<img class="bg" src="./images/bg.jpg" alt="" inline>
	<div class="frame frame1">
		
		
		<img class="bg retina" src="./images/logo_main.png" alt="" inline>

		<img class="retina" src="./images/bg_logo.png" alt="" inline>

		<img class="t1_a retina" src="./images/t1_a.png" alt="" inline>
		<img class="t1_b retina" src="./images/t1_b.png" alt="" inline>
		<!-- <img class="t1_c retina" src="./images/t1_c.png" alt="" inline> -->
		
		<!-- <img class="batt retina" src="./images/test.png" alt="" inline> -->
		
		
		<div class="batter_all">
			<img class="batter hero_batter_bg" src="./images/hero_batter_bg.png" alt="" inline>	
			<img class="batter hero_batter_1" src="./images/hero_batter_1.png" alt="" inline>	
			<img class="batter hero_batter_3" src="./images/hero_batter_3.png" alt="" inline>	
			<img class="batter hero_batter_5" src="./images/hero_batter_5.png" alt="" inline>	
			<img class="batter hero_batter_7" src="./images/hero_batter_7.png" alt="" inline>	
			<img class="batter hero_batter_9 retina" src="./images/hero_batter_9.png" alt="" inline>				
		</div>
		<img class="catcher" src="./images/hero_catcher.png" alt="" inline>
		<img class="ball retina" src="./images/hero_ball.png" alt="" inline>


	</div>
	<div class="frame frame2">
		
		<img class="illust" src="./images/ill.png" alt="" inline>
		<img class="phone retina" src="./images/phone.png" alt="" inline>

		<img class="t2 retina" src="./images/t2_a.png" alt="" inline>
		<img class="cta retina" src="./images/cta_a.png" alt="" inline>
		<img class="cta2 retina" src="./images/cta_b.png" alt="" inline>
		<img class="legal retina" src="./images/footer.png" alt="" inline>

		
		<!-- <% include ../_common/templates/legal %> -->
	</div>
</div>